.titlespace {
color: white;
    font-size: 10px;
    font-family: monospace;
    text-align: center;
}

.subjects {
font-size: 12px;
    color: black;
    font-family: monospace;
}

.button {
background-color: #FF6F6F;
    border: 1px solid #FF6F6F;
    color: white;
    padding: 6px 20px;
    text-align: center;
    font-size: 12px;
    display: inline;
    transition-duration: 0.4s;
}

.button:hover {
border: 1px solid #FF6F6F;
background-color: white;
    color: black;
}

.editbutton {
	float:right;
background-color: #ffa199;
    border: 1px solid #ffa199;
    color: white;
    padding: 3px 15px;
    text-align: center;
    font-size: 12px;
    display: inline;
    transition-duration: 0.4s;
}

.editbutton:hover {
border: 1px solid #ffa199;
background-color: white;
    color: black;
}

.textfield {
padding: 6px 10px;
    font-size: 12px;
    width: 140px;
    display: inline;
}

.dropdown {
padding: 6px 10px;
    font-size: 12px;
    width: 165px;
    display: inline;
}

.banner {
background: #FF6F6F;
}

body {
background-color: rgba(223,223,223,0.95);
background-image: url('images/background.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-blend-mode: lighten;
width: 250px;
}